.watch {
  display: flex;
  left: 20px;
  width: 760px;
  height: 170px;
  margin: 10px;
  border-radius: 20px;
}

.timer {
  border: 8px solid #376f94;
}

.stopWatch {
  border: 8px solid #fd5c5c;
}

.time {
  font-size: 5rem;
}

.micro {
  font-size: 2.25rem;
}

.timerButton > button {
  margin: 10px;
  padding: 10px;
  height: 80px;
  width: 80px;
  border: 8px solid;
  box-shadow: 2px 2px 3px gray;
  border-radius: 50%;
  text-align: center;
  background-color: white;
}

.btn.start {
  color: #49a740;
}

.btn.pause {
  color: #c46f3f;
}

.btn.reset {
  color: #fd5c5c;
}

.btn.set {
  color: gray;
}

.timerButton Button:active {
  background-color: rgb(212, 212, 212);
}
