.watch {
  display: flex;
  left: 1dvw;
  width: 67dvw;
  height: 12dvw;
  margin: 1dvw;
  border-radius: 1.5dvw;
}

.watch.timer {
  border: 0.6dvw solid #376f94;
}

.alarming{
  -webkit-animation: alarm 0.5s ease-in-out infinite alternate;
  -moz-animation: alarm 0.5s ease-in-out infinite alternate;
  animation: alarm 0.5s ease-in-out infinite alternate;
}

@-webkit-keyframes alarm{
  0% {opacity: 20%;}
  100% {opacity: 1;}
}

@-moz-keyframes alarm{
  0% {opacity: 20%;}
  100% {opacity: 1;}
}

@keyframes alarm{
  0% {opacity: 20%;}
  100% {opacity: 1;}
}

.time {
  font-size: 6.7dvw;
  font-weight: 500;
}


.timerButton > button {
  margin: 1dvw;
  padding: 1dvw;
  height: 8dvw;
  width: 8dvw;
  border: 0.8dvw solid;
  box-shadow: 2px 2px 3px gray;
  border-radius: 50%;
  text-align: center;
  background-color: white;
  z-index: 2;
}

.btn.start {
  color: #49a740;
}

.btn.pause {
  color: #c46f3f;
}

.btn.reset {
  color: #fd5c5c;
}

.btn.set {
  color: gray;
}

.timerButton + .MuiButtonBase-root:active {
  background-color: rgb(212, 212, 212);
}

.timerButton + .MuiButtonBase-root:hover {
  background-color: rgb(212, 212, 212);
}
