.time-container {
  position: relative;
  padding-top: 0;
  top: 100px;
  left: 0px;
  width: 770px;
  height: 470px;
  /* border: 6px solid; */
}

.btn-controller {
  top: 80px;
  right: 15px;
  bottom: 10px;
  width: 140px;
  height: 480px;
  margin: 20px;
}

.btn-controller Button {
  width: 160px;
  height: 45px;
  padding: 25px;
  margin: 3px;
  font-size: 1.2rem;
  font-weight: 600;
}

.img-bomb {
  background-image: url("/public/nyan-cat.gif");
}
