.time-container {
  position: relative;
  padding-top: 0;
  top: 12dvw;
  left: 0px;
  width: 770px;
  height: 470px;
  /* border: 6px solid; */
}

.btn-controller {
  right: 1.5dvw;
}

.img-bomb {
  background-image: url("/public/nyan-cat.gif");
}

.btn-create-timer > .MuiButtonBase-root.MuiButton-root:hover {
  background-color: #376f94ea;
}
