.watch {
  display: flex;
  left: 20px;
  width: 67dvw;
  height: 26dvh;
  margin: 10px;
  border-radius: 20px;
}

.timer {
  border: 8px solid #376f94;
}

.stopWatch {
  position: fixed;
  bottom: 0;
  height: 100px;
  border: 8px solid #fd5c5c;
}

.time {
  font-size: 13.5dvh;
  font-weight: 500;
}

.micro {
  font-size: 2.25rem;
}

.timerButton > button {
  margin: 10px;
  padding: 10px;
  height: 14dvh;
  width: 8dvw;
  border: 14px solid;
  box-shadow: 2px 2px 3px gray;
  border-radius: 50%;
  text-align: center;
  background-color: white;
  z-index: 2;
}

.btn.start {
  color: #49a740;
}

.btn.pause {
  color: #c46f3f;
}

.btn.reset {
  color: #fd5c5c;
}

.btn.set {
  color: gray;
}

.timerButton + .MuiButtonBase-root:active {
  background-color: rgb(212, 212, 212);
}

.timerButton + .MuiButtonBase-root:hover {
  background-color: rgb(212, 212, 212);
}
