.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@font-face {
  font-family: "Nanum Gothic";

  src: url("./static/fonts/NanumGothic.ttf") format("truetype");

  font-weight: 600;
  font-style: normal;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.custom-tabs {
  margin: 20px;
}

.custom-tabs a {
  margin: 2px;
  padding: 18px;
  height: 20px;
  padding-left: 34px;
  padding-right: 34px;
  border-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 2px solid #535353;
  background-color: rgb(231, 231, 231);
  color: black;
  border-bottom: none;
  list-style-type: none;
  text-decoration: none;
  font-size: 1.2rem;
}

.custom-tabs a:hover {
  margin-top: 0;
  height: 24px;
  background-color: #ffffff;
  color: black;
}
