.App {
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @font-face {
  font-family: "Nanum Gothic";

  src: url("./static/fonts/NanumGothic.ttf") format("font-truetype");

  font-weight: 600;
  font-style: normal;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.MuiTabs-root {
  position: fixed;
  width: 100dvw;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 0;
  padding-right: 0;
  z-index: 999;
  background-color: white;
}

.MuiTabs-root .MuiTab-root {
  margin: 2px;
  width: 13.4dvw;
  height: 9.5dvh;
  background-color: #85b4e2;
  color: rgb(0, 0, 0);
  font-size: 3dvh;
  font-weight: 700;
  border-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.MuiTabs-root .MuiTab-root.Mui-selected {
  background-color: #003366;
  color: white;
}

.swiper {
  width: 8dvw;
  text-align: center;
}

.swiper-wrapper {
  font-size: 10dvh;
}

.swiper-initialized {
  height: 12dvh;
}

.modal-box {
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
